h1,
p {
  font-family: Lato;
}

ul .lis {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 10px 20px;
  margin: 4px;
  transition: 0.5s;
}
.lis:hover {
  color: aliceblue;
  background-color: black;
}
.help {
  color: grey;
  background-color: red;
}
